<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TrimFuel" type="ErrorLogApplication.Model.TrimFuelSection, ErrorLogApplication" allowLocation="true" />
  </configSections>
  <connectionStrings>
    <add name="TrimFuel" connectionString="Datasource=192.168.78.138;Database=TrimFuelLocal;uid=root;pwd=1;"/>
  </connectionStrings>
  <TrimFuel>
    <Applications>
      <Application Name="test" LogPath="errors.log" />
    </Applications>
  </TrimFuel>
</configuration>