<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="TrimFuel" type="TrimFuel.Business.Configuration.TrimFuelSection, TrimFuel.Business"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <TrimFuel AppAuthMode="Static">
        <StaticAppAuth ApplicationId="MetabolabJob" />
        <Applications>
            <add ApplicationId="MetabolabJob">
                <ConnectionStrings>
                    <add name="TrimFuel" connectionString="Datasource=localhost;Database=TrimFuelLocal;uid=root;pwd=1;"/>
                </ConnectionStrings>
                <NMI URL="http://localhost/gateways/networkmerchants.aspx"/>
            </add>
        </Applications>
    </TrimFuel>
    <log4net>
        <root>
            <appender-ref ref="GeneralLog"/>
        </root>
        <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
            <file value="errors.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="-1" />
            <maximumFileSize value="50GB" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="-------------------------------------------------------------------------%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
    </log4net>
</configuration>