<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="TrimFuel" type="TrimFuel.Business.Configuration.TrimFuelSection, TrimFuel.Business"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <TrimFuel AppAuthMode="Static">
        <StaticAppAuth ApplicationId="Bidooka_Script" />
        <Applications>
            <add ApplicationId="Bidooka_Script">
                <ConnectionStrings>
                  <!--<add name="TrimFuel" connectionString="Datasource=apex.cam7ki8pvkcs.us-east-1.rds.amazonaws.com;Database=TrimFuel;uid=kirill;pwd=ap912k;"/>-->
                  <add name="TrimFuel" connectionString="Datasource=192.168.78.138;Database=TrimFuel_Client1;uid=root;pwd=1;"/>
                  <!--<add name="TrimFuel" connectionString="Datasource=testapex.cam7ki8pvkcs.us-east-1.rds.amazonaws.com;Database=TrimFuel;uid=sergei;pwd=aXy7bdFGvz;"/>-->
                </ConnectionStrings>
            </add>
        </Applications>
    </TrimFuel>
    <appSettings>
        <add key="limit" value="1"/>
    </appSettings>
    <log4net>
        <root>
            <appender-ref ref="GeneralLog"/>
        </root>
        <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
            <file value="errors.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="-1" />
            <maximumFileSize value="50GB" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%newline%message" />
            </layout>
        </appender>
    </log4net>
</configuration>