<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TrimFuel" type="TrimFuel.Business.Configuration.TrimFuelSection, TrimFuel.Business"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <TrimFuel AppAuthMode="Static">
    <StaticAppAuth ApplicationId="Check_Shippments" />
    <Applications>
      <add ApplicationId="Check_Shippments">
        <ConnectionStrings>
          <add name="TrimFuel" connectionString="Datasource=stodb.cam7ki8pvkcs.us-east-1.rds.amazonaws.com;Database=TrimFuel;uid=sergei;pwd=aXy7bdFGvz;"/>
          <add name="Restore" connectionString="Datasource=stodb.cam7ki8pvkcs.us-east-1.rds.amazonaws.com;Database=TrimFuel;uid=sergei;pwd=aXy7bdFGvz;"/>
        </ConnectionStrings>
      </add>
    </Applications>
  </TrimFuel>
  <appSettings>
    <add key="emails" value="evgeny.razumov@itechart-group.com,dtcoder@gmail.com"/> 
  </appSettings>
  <connectionStrings>
    <!--<add name="TrimFuel" connectionString="Datasource=coaction.cam7ki8pvkcs.us-east-1.rds.amazonaws.com;Database=TrimFuel;uid=sergei;pwd=aXy7bdFGvz;"/>-->
    <!--<add name="TrimFuel" connectionString="Datasource=stodb.cam7ki8pvkcs.us-east-1.rds.amazonaws.com;Database=TrimFuel;uid=sergei;pwd=aXy7bdFGvz;"/>-->
    <add name="Restore" connectionString="Datasource=restore.cam7ki8pvkcs.us-east-1.rds.amazonaws.com;Database=TrimFuel;uid=sergei;pwd=aXy7bdFGvz;"/>
    <add name="TrimFuel" connectionString="Datasource=192.168.78.138;Database=TrimFuelLocal;uid=root;pwd=1;"/>
  </connectionStrings>
    <log4net>
        <root>
            <appender-ref ref="GeneralLog"/>
        </root>
        <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
            <file value="Logs/wb.log"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="-1"/>
            <maximumFileSize value="50GB"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="-------------------------------------------------------------------------%newline%date [%thread] %-5level %logger [%property{ApplicationID}] - %message%newline"/>
            </layout>
        </appender>
    </log4net>
</configuration>