<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrimFuel.WebServices.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="TrimFuel" type="TrimFuel.Business.Configuration.TrimFuelSection, TrimFuel.Business"/>
    </configSections>
    <TrimFuel AppAuthMode="Static">
        <StaticAppAuth ApplicationId="LocalWebStore" />
        <Applications>
            <add ApplicationId="LocalWebStore">
                <ConnectionStrings>
                    <add name="TrimFuel" connectionString="Datasource=localhost;Database=TrimFuelLocal;uid=root;pwd=1;"/>
                </ConnectionStrings>
                <Shipping TestMode="true" />
                <EmailServer URL="http://localhost/gateways/email.aspx"/>
                <NMI URL="http://localhost/gateways/networkmerchants.aspx"/>
                <SHW URL="http://localhost/gateways/shw.aspx"/>
                <BadCustomer URL="http://localhost/gateways/BadCustomer.aspx"/>
                <MaxMind URL="http://localhost/gateways/MaxMind.aspx"/>
                <ABF TestMode="true"/>
                <Keymail Emails="mrsenya@tut.by,mrsenya@tut.by"/>
                <AtLastFulfillment TestMode="true" ApiKey="56fb2514fe14484c8eb2ca42aac00253" />
                <GoFulfillment TestMode="true"/>
                <!--
                <GoFulfillment TestMode="false" URL="http://stockist.wlgfulfilment.co.uk/webclient" OriginId="2453" UserId="triangle" Password="blueberryjazzboat"/>
                -->
            </add>
        </Applications>
    </TrimFuel>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="billing_apiSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="billing_apiSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="billing_wsSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="billing_wsSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://yig.trianglecrm.com/ws/billing_api.asmx"
                binding="basicHttpBinding" bindingConfiguration="billing_apiSoap"
                contract="YIG.billing_apiSoap" name="billing_apiSoap" />
            <endpoint address="http://blueoctopus.trianglecrm.com/ws/billing_api.asmx"
                binding="basicHttpBinding" bindingConfiguration="billing_apiSoap1"
                contract="BlueOctopus.billing_apiSoap" name="billing_apiSoap1" />
            <endpoint address="https://tutorvista.trianglecrm.com/api/billing_ws.asmx"
                binding="basicHttpBinding" bindingConfiguration="billing_wsSoap"
                contract="TutorVista.billing_wsSoap" name="billing_wsSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <TrimFuel.WebServices.Test.Properties.Settings>
            <setting name="TrimFuel_WebServices_Test_SaleWebService_SaleService_"
                serializeAs="String">
                <value>http://localhost/trimfuel/SaleService.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_com_3plcentral_ServiceExternal"
                serializeAs="String">
                <value>https://app02.3plcentral.com/WebServiceExternal/Contracts.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_com_trianglecrm_dashboard_customer_service_feed"
                serializeAs="String">
                <value>http://dashboard.trianglecrm.com/support/customer_service_feed.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_localhost_trimfuel_customer_service_feed"
                serializeAs="String">
                <value>http://trimfuel.localhost/support/customer_service_feed.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_localhost_trimfuel1_billing_ws"
                serializeAs="String">
                <value>http://trimfuel.localhost/api/billing_ws.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_com_trianglecrm_jmb_billing_ws"
                serializeAs="String">
                <value>https://jmb.trianglecrm.com/api/billing_ws.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_localhost_client1_billing_ws"
                serializeAs="String">
                <value>http://client1.localhost/api/billing_ws.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_com_trianglecrm_directaction_billing_ws"
                serializeAs="String">
                <value>https://directaction.trianglecrm.com/api/billing_ws.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_com_trianglecrm_learn2befree_billing_ws"
                serializeAs="String">
                <value>https://learn2befree.trianglecrm.com/api/billing_ws.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_com_trianglecrm_dashboard1_billing_ws"
                serializeAs="String">
                <value>https://dashboard.trianglecrm.com/api/billing_ws.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_com_trianglecrm_coaction_billing_ws"
                serializeAs="String">
                <value>https://coaction.trianglecrm.com/api/billing_ws.asmx</value>
            </setting>
            <setting name="TrimFuel_WebServices_Test_com_trianglecrm_apex_billing_ws"
                serializeAs="String">
                <value>https://apex.trianglecrm.com/api/billing_ws.asmx</value>
            </setting>
        </TrimFuel.WebServices.Test.Properties.Settings>
    </applicationSettings>
</configuration>