<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TrimFuel" type="TrimFuel.Business.Configuration.TrimFuelSection, TrimFuel.Business"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!--1st priority, list of BillingID-->
    <add key="customBillingList" value=""/>
    <!--2nd priority, Billing records for last "processLastDays" days (today is not included)-->
    <add key="processLastDays" value="2"/>
    <!--3rd priority, Billing records that were created in date range: "startBillingCreateDate" - "endBillingCreateDate"-->
    <add key="startBillingCreateDate" value="2012-01-01 00:00:00"/>
    <add key="endBillingCreateDate" value="2012-04-02 00:00:00"/>
    <add key="noCampaignCampaignID" value="229"/>
  </appSettings>
  <TrimFuel AppAuthMode="Static">
    <StaticAppAuth ApplicationId="STOJob" />
    <Applications>
      <add ApplicationId="STOJob">
        <ConnectionStrings>
          <add name="TrimFuel" connectionString="Datasource=localhost;Database=TrimFuelLocal;uid=root;pwd=1;"/>
        </ConnectionStrings>
      </add>
    </Applications>
  </TrimFuel>
  <log4net>
    <root>
      <appender-ref ref="GeneralLog"/>
    </root>
    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="errors.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50GB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="-------------------------------------------------------------------------%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>