@charset "UTF-8";
/* CSS Document */

/*#content .left table { padding:3px; background-color:#E8EEFA; }
#content .left table td { border:none; padding:5px; }
#content .left table .header td { font-weight:bold; padding:10px 5px; background-color:#d3dbee }
#content .left table .white td { background-color:white; }
#content .left table .total td { font-weight:bold; background-color:#dbdbdb; color:#359114; }
#content .left table .total { font-weight:bold; color:#359114; }
.error { color:red; }
.success { color:green; }
#content .left { width:100%; }
#content .left table.nav { margin-top:10px; font-weight:bold; padding:0; background-color:white; }
#content .left table.nav tr td { border:1px solid #C3D9FF; padding:10px; background-color:#E8EEFA; }
#content .left table.nav tr td.selected { background-color:white; }
#content .left table.nav tr td a { padding:5px; }
#content .left h2 { border-bottom:1px dotted #666; border-top:1px dotted #666; padding:10px 0; color:#666; margin-top:10px; }
.blueborder { border:1px solid #C3D9FF; width:100%; }*/